.cvsignore
*.png
*.so
*.o
!/**/
!*.*
*.root
NUKECCSRC/src/CVUniverse.o
NUKECCSRC/src/NukeCCUtilsNSF.o
NUKECCSRC/src/NukeCC_Binning.o
NUKECCSRC/src/NukeCC_Cuts.o
NUKECCSRC/src/libNukeCC.so
ana/make_hists/EfficiencyHists.o
ana/make_hists/EfficiencyHistsAll.o
ana/make_hists/MigrationHists.o
ana/make_hists/MigrationHistsAll.o
ana/make_hists/runEventLoop.o
ana/make_hists/runEventLoopALL.o
ana/make_hists/runEventLoop_purity.o
ana/make_hists/runEventLoop_bkg.o
ana/make_hists/BackgroundSubtractionOLD_notCorrected.o
ana/make_hists/*.o
../../NUKECCSRC/src/*.o

