.cvsignore
*.png
*.so
*.o
!/**/
!*.*
*.root
NUKECCSRC/src/libNukeCC.so
ana/make_hists/plasticBackground/getScaleFactors_PlasticSB.o
ana/make_hists/plasticBackground/getScaleFactors_PlasticSB

ana/make_hists/plasticBackground/runEventLoop_plasticSB.o 
ana/make_hists/plasticBackground/runEventLoop_plasticSB

ana/make_hists/plasticBackground/PlotPlasticSB.o 
ana/make_hists/plasticBackground/PlotPlasticSB

ana/make_hists/EfficiencyHists.o
ana/make_hists/EfficiencyHistsAll.o
ana/make_hists/MigrationHists.o
ana/make_hists/MigrationHistsAll.o
ana/make_hists/runEventLoop.o
ana/make_hists/runEventLoopALL.o
ana/make_hists/runEventLoop_purity.o
ana/make_hists/runEventLoop_bkg.o
ana/make_hists/BackgroundSubtractionOLD_notCorrected.o
ana/make_hists/*.o
ana/make_hists/BackgroundSubtractionOLD_notCorrected
ana/make_hists/EfficiencyHists
ana/make_hists/EfficiencyHistsAll
ana/make_hists/MigrationHists
ana/make_hists/MigrationHistsAll
ana/make_hists/runEventLoop
ana/make_hists/runEventLoopALL
ana/make_hists/runEventLoop_bkg
ana/make_hists/runEventLoopModel
NUKECCSRC/src/CVUniverse.o
NUKECCSRC/src/NukeCCUtilsNSF.o
NUKECCSRC/src/NukeCC_Binning.o
NUKECCSRC/src/NukeCC_Cuts.o
NUKECCSRC/src/*.o
ana/studies/runEventLoopALL_bkgTypeOtherTarget.o
ana/make_hists/plasticBackground/runEventLoop_plasticSB.o
ana/studies/runEventLoopALL_bkgTypeOtherTarget
NUKECCSRC/src/CVUniverse.o
NUKECCSRC/src/NukeCCUtilsNSF.o
NUKECCSRC/src/NukeCC_Binning.o
NUKECCSRC/src/NukeCC_Cuts.o
NUKECCSRC/src/libNukeCC.so
ana/make_hists/plasticBackground/PlotPlasticSB
ana/make_hists/plasticBackground/PlotPlasticSB.o
ana/studies/runEventLoopModel
ana/studies/runEventLoopModel.o
ana/studies/runEventLoop_DS
ana/studies/runEventLoop_DS.o
ana/studies/runEventLoop_InitialNuclMom
ana/studies/runEventLoop_InitialNuclMom.o
ana/studies/runEventLoop_InitialNuclMomTracker
ana/studies/runEventLoop_InitialNuclMomTracker.o
ana/studies/runEventLoop_InitialNuclMom_All
ana/studies/runEventLoop_InitialNuclMom_All.o
ana/studies/runEventLoop_US
ana/studies/runEventLoop_US.o
ana/studies/runEventLoop_intType
ana/studies/runEventLoop_intType.o
ana/make_hists/EfficiencyHists_Tracker
ana/make_hists/MigrationHists_Tracker
ana/make_hists/runEventLoop_tracker
ana/make_hists/fluxConstraint/runEventLoop_trueCCwo2p2h_optimised
ana/make_hists/fluxConstraint/runEventLoop_trueCCwo2p2h_optimised.o
ana/make_hists/ExtractCrossSection
ana/make_hists/ExtractCrossSection_NEW
ana/make_hists/runCCIncForTracker
ana/make_hists/runEventLoop_bkg_TRUE
ana/make_hists/runEventLoop_tracker_true
ana/make_hists/runXSecLooper_NukeCC
ana/make_hists/closureTest/runXSecLooper_CCIncForTracker
ana/make_hists/closureTest/runXSecLooper_CCIncForTracker.o
ana/make_hists/closureTest/runXSecLooper_NukeCC
ana/make_hists/closureTest/runXSecLooper_NukeCC.o
ana/make_hists/closureTest/runXSecLooper_NukeCC_multitarget
ana/make_hists/closureTest/runXSecLooper_NukeCC_multitarget.o
ana/make_hists/extractCrossSection
ana/make_hists/extractCrossSection_tracker_daisy
ana/make_hists/runEfficiency
ana/make_hists/runEfficiency_tracker_daisy
ana/make_hists/runEventLoop_IntType
ana/make_hists/runEventLoop_plasticSB
ana/make_hists/runEventLoop_tracker_IntType
ana/make_hists/runEventLoop_tracker_cutbreakdown
ana/make_hists/runEventLoop_tracker_daisy
ana/make_hists/runEventLoop_water
ana/make_hists/runMigration
ana/make_hists/runMigration_tracker
ana/make_hists/runMigration_tracker_daisy
ana/make_hists/true_runEventLoop
ana/make_hists/true_runEventLoop_tracker
ana/make_hists/runEfficiency_tracker
ana/panel_plottingConcise/*.o
ana/panel_plottingConcise/error
ana/panel_plottingConcise/BackgroundBreakDown1
ana/panel_plottingConcise/FractionalError
ana/panel_plottingConcise/Efficiency_NumDenom
ana/panel_plottingConcise/PlotCrossSection
ana/panel_plottingConcise/Data
ana/panel_plottingConcise/plotEventSelection
ana/panel_plottingConcise/background_error_plot_gridAbsoluteError
ana/panel_plottingConcise/background_error_plot_grid
ana/panel_plottingConcise/EventSelection
ana/panel_plottingConcise/MC
ana/panel_plottingConcise/Efficiency
ana/panel_plottingConcise/plotEfficiencyNumDenom
ana/panel_plottingConcise/plotFractionalError
ana/panel_plottingConcise/libGridCanvas.so
ana/panel_plottingConcise/Warp
ana/panel_plottingConcise/SamePlot
